body {
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    height: 100%;

}

/* <!-- Header Setion --> */
/* .main,.logo {

    flex-direction: column;
    display: flex;
    flex-wrap: wrap;

 */
.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 5%;
    padding: 20px;
}


.logo {
    background-image: url(./Assets/logo\ 2.png.webp);
    background-repeat: no-repeat;
    display: inline-block;
    padding: 10px;
    width: 25%;
    background-color: white;
}

#first {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-inline-end: 10px;
}

.right,
nav,
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 30px;
    max-width: 100%;
    height: auto;

}

.header_list {
    list-style: none;
    margin: 0;
    font-family: "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;

}

.header_list :hover {
    background-color: lightgreen;
}


@media only screen and (min-width: 768px) and (max-width: 991px),
only screen and (min-width: 576px) and (max-width: 767px),
(max-width: 576px) {
    .header_list {
        display: none;
        visibility: hidden;
    }
}



/*  Header Section end */
/*  center-heading-Section */
.hero {
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.hero {
    padding: 80px 0;
}

.heading {
    text-align: center;
    font-size: 2em;

}

/* center-heading-Section end   */
/* Center Nav  */
.center-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 40px;
    font-size: 14px;
    padding: 0 6px;
    margin-right: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    position: relative;
    color: #746666;
    font-family: "Aldrich", sans-serif;
}

.center-nav :hover {
    background-color: #fbff00;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
only screen and (min-width: 576px) and (max-width: 767px),
(max-width: 576px) {
    .center-nav {
        display: none;
        visibility: hidden;
    }
}

/* Center-nav-section-end */
/* gallery-section */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 250%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}


@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}


/* gallery-section-end */
/* <!-- footer section --> */

.footer-main {
    padding: 25px 40px 15px;
    background: #222222;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 5%;
    padding: 20px;
}

.text {
    display: flex;
    flex-wrap: wrap;
    font-family: "Raleway", sans-serif;
    color: #c2c2c2;
    margin-bottom: 10px;
    line-height: 1.8;
    align-items: center;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    font-size: 15px;

}

.text :hover {
    color: #ffffff;
}


#logo {
    background-color: white;
    max-width: 100%;
    display: inline-block;
    flex-wrap: wrap;
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.footer-end {
    flex-wrap: wrap;
    position: relative;
    width: 2%;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;

}


/* <!-- footer section end --> */