.body {
    background: #000000;
}

/* Header Section */
.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1%;
}

@media only screen and (min-width: 320px) and (max-width: 425px) {

    .right,
    .left {
        display: none;
        visibility: hidden;
    }
}

.right,
a {
    text-decoration: none;
    color: black;
    font-size: 1.15em;
    font-weight: bold;
}

.center {
    background-color: black;
    color: #fff;
    font-size: 1.15em;
    width: 350px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left {
    color: black;
    font-size: 1.15em;
}

/* Header Section End */
/* Hero Section */
.hero {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    margin: 0%;
    padding: 0%;
}


.color {
    justify-content: space-between;
    margin: 0%;
    padding: 9.43%;
    padding-bottom: 0%;
    padding-left: 3.8%;
    padding-right: 9.999999%;
}
.color,span{
    color: #ffffff;
}
/* Hero Section End */
.center-nav,#nav-new {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    color: rgb(52, 43, 43);
  }
  
  .nav1 {
    align-items: end;
    padding: 12px;
    box-sizing: border-box;
    min-height: 40px;
    font-size: 1.25em;
    font-weight: bold;
  }
  
  .center-nav :hover {
    background-color: #769fb9;
    text-decoration: underline
  }
  
  @media only screen and (min-width: 320px) and (max-width: 425px) {
    .center-nav {
      display: none;
      visibility: hidden;
    }
  }