* {
    margin: 0;
    padding: 0;
    background-color: rgba(237, 237, 237, 0.743);
}

/* Header */
.header__left img {
    object-fit: contain;
    height: 40px;
    margin-left: 10px;
}


.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}

.header__left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
@media only screen and (min-width: 320px) and (max-width: 421px),
only screen and (min-width: 576px) and (max-width: 425px),
(max-width: 576px) {
    .header__left {
        
        margin-left: 50px;
    }
}

.header__left .material-icons {
    background-color: rgba(237, 237, 237, 0.743);
}

.header__left span {
    padding: 10px;
    cursor: pointer;
    margin-left: 20px;
}

.header__middle {
    display: flex;
    flex: 0.7;
    align-items: center;
    background-color: rgba(112, 106, 106, 0.112);
    padding: 10px;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: -40px;
}

@media only screen and (min-width: 320px) and (max-width: 421px),
only screen and (min-width: 576px) and (max-width: 425px),
(max-width: 576px) {
    .header__middle {
        display: none;
        visibility: hidden;
    }
}

.header__middle .material-icons input {
    color: #464545d3;
    background-color: rgba(229, 222, 222, 0.758);
}

.material-icons {
    color: #464545d3;
    background-color: transparent;
}



.header__middle input {
    border: none;
    width: 100%;
    outline: none;
    font-size: medium;
    color: #000000;
    background-color: transparent;
}

.header__right {
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 421px),
only screen and (min-width: 576px) and (max-width: 425px),
(max-width: 576px) {
    .header__right {
        display: none;
        visibility: hidden;
    }
}

.header__right span {
    padding: 10px;
    cursor: pointer;
}

/* Sidebar */
.sidebar {
    flex: 0.3;
    max-width: 300px;
    padding-right: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 421px),
only screen and (min-width: 576px) and (max-width: 425px),
(max-width: 576px) {
    .sidebar {
        display: none;
        visibility: hidden;
    }
}


.sidebar__compose {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: rgb(72, 72, 72);
    padding: 15px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.sidebar__compose span {
    margin-right: 5px;
}

.sidebarOption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: #000000;
}

.sidebarOption .material-icons {
    padding: 5px;
}

.sidebarOption h3 {
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}

.sidebarOption:hover,
.sidebarOption:hover h3,
.sidebarOption:hover .material-icons,
.sidebarOption__active,
.sidebarOption__active h3,
.sidebarOption__active .material-icons {
    background-color: gray;
    color: rgb(0, 0, 0);
    font-weight: 800;
}

.sidebar__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-top: 20px;
    padding-left: 20px;
    color: #5f5c5c;
    margin: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}


/* main body */
.main__body {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

body {
    height: 100vh;
    overflow-y: hidden;
}

/* email list */
.emailList {
    flex: 1;
    overflow: scroll;
    margin-top: 10px;
    margin-left: -20px;
    border-radius: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 421px),
only screen and (min-width: 576px) and (max-width: 425px),
(max-width: 576px) {
    .emailList__settings {
        display: none;
        visibility: hidden;
    }
}

.emailList__settings {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    padding: 8px;

}

.emailList__settingsLeft {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: white;
}

.emailList__settingsRight {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: white;
}

.emailList__settings .material-icons {
    margin: 5px;
    cursor: pointer;

}

.section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom-width: 2px;
    padding: 15px;
    min-width: 200px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    border-width: 0;
    background-color: white;
}

@media only screen and (min-width: 320px) and (max-width: 421px),
only screen and (min-width: 576px) and (max-width: 425px),
(max-width: 576px) {
    .emailList__sections {
        display: flex;
        justify-content: center;
    }
}

.emailList__sections {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid whitesmoke;
    z-index: 999;
}

.emailList__sections .material-icons,
.h4 {
    background-color: transparent;
}

.section__selected {
    background-color: rgb(255, 255, 255);
    border-width: 3px;
    color: rgb(0, 51, 255);
    border-bottom: 3px solid rgb(13, 0, 255);
}

.section__selected .material-icons {
    color: rgb(0, 76, 255);
}

.section:hover {
    background-color: whitesmoke;
    border-width: 3px;
}

.section h4 {
    font-size: 14px;
    margin-left: 15px;
}

.emailRow__options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.emailRow__options .material-icons,
input {
    margin: 5px;
}

.emailRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 50px;
    border-bottom: 0.2px solid rgb(183, 183, 183);
    cursor: pointer;
    z-index: 999;
}


.emailRow:hover {
    border-top: 1px solid rgb(186, 186, 186);
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
}

.emailRow__message {
    display: flex;
    flex-wrap: wrap;
    flex: 0.8;
    align-items: center;
    font-size: 13px;
}

.emailRow__message h4 {
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.15em;
    font-family: Arial, Helvetica, sans-serif;
}

.emailRow__title {
    font-size: 13px;
    flex: 0.3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.emailRow__time {
    padding-right: 15px;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #000000;
}

.emailRow__description {
    font-weight: 400;
    color: rgb(84, 79, 79);
}