body{
    margin: 0%;
    padding: 0%;
}
 /* Header Section Start  */
 .navbar_start{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(191, 191, 191, 0.41);
    padding: 0.4%;
}
.navbar_start_list1{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding-right: 0%;
    color: rgb(59, 59, 59);
    font-size: 0.75rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.navbar_start_list2{
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 0%; */
    gap: 10px;
    padding-top: 0.5%;
    padding-right: 35%;
    padding-bottom: 0%;
    margin: 0.2%;

}
.list-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.802);
    border: solid rgb(219, 219, 219);
    padding: 8px;

}

@media only screen and (min-width: 768px) and (max-width: 991px),
only screen and (min-width: 576px) and (max-width: 767px),
(max-width: 576px) {
    .navbar_start {
        display: none;
        visibility: hidden;
    }
}
.navbar_main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 0.15rem solid rgba(61, 58, 58, 0.076);
    border-radius: 10px;
    /* position:relative; */
}
.left_nav{
    display: flex;
    /* padding-right: 7%; */
    height: 70px;    
}
.center_nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
    padding-left: 5%;
    font-size: 1.25 rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: rgb(69, 69, 69);
}
@media only screen and (min-width: 768px) and (max-width: 991px),
only screen and (min-width: 576px) and (max-width: 767px),
(max-width: 576px) {
    .center_nav {
        display: none;
        visibility: hidden;
    }
}
.right_nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    gap: 10px;

}
@media only screen and (min-width: 768px) and (max-width: 1024px),
only screen and (min-width: 576px) and (max-width: 767px),
(max-width: 576px) {
    .right_nav {
        display: none;
        visibility: hidden;
    }
}
.right_nav_btn_1{
      background-color: rgba(0, 0, 255, 0.652);
      color: white;
      height: 40px;
      width: 150px;
      border: solid rgb(28, 118, 214);
      border-radius: 5px;
      font-size: 0.80rem;
      text-transform: capitalize;
}
.right_nav_btn_2{
    background-color: rgba(96, 182, 25, 0.683);
    color: white;
    height: 40px;
    width: 150px;
    border: solid rgb(0, 98, 255);
    border-radius: 5px;
    font-size: 0.80rem;
    font-weight: bold;
    text-transform: capitalize;
}
.hamburger{
    width: 35px;
    height: 5px;
    color: aqua;
    background-color: rgb(255, 0, 0);
    /* margin: 6px 0; */
  }
  @media only screen and (min-width: 1024px) and (max-width: 2560px),
  only screen and (min-width: 1024px) and (max-width: 2560px),
  (max-width: 2560px) {
      .hamburger {
          display:none;
          visibility: hidden;
      }
  }
/* Header Section End */
/* Hero Section Start */
.hero_main{
    display: flex;
    margin-top: 20px;
}
.right_hero{
    padding: 75px;
    font-size: 1.25em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.right_hero_h1{
   font-size: 1.50em;
   color: rgba(33, 33, 33, 0.958);
   padding-top: 5px;
}
#Saylani{
    color: greenyellow;
}
.right_hero_h4{
    color: rgb(55, 53, 53);
    font-size: 1.10em;
}
.it{
    color: rgb(26, 26, 223);
}
.right_hero_2{
  font-size: 2vh;
  color: rgb(80, 80, 80);
}
.Explore{
    width: 150px;
    height: 40px;
}
.left_hero{
    display: flex;
    flex-wrap: wrap;
    padding-left: 12%;
    padding-right: 12%;
}
/* Hero Section End */
/* Hero Section 2 Start */
.section_2_main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(181, 239, 73, 0.343);
    margin-top: 20px;
    padding: 30px;
    border: 1px;
    border-radius: 10px;

}
.div_section_2{
    font-size: 1.25 rem;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: rgb(65, 63, 63);
    border: 1px  ;
    border-radius: 5px;
    background-color: white;
    padding: 10px; 
}
.div_section_2:hover{
    background-color: rgb(109, 111, 106);
    color: white;
}
.div_section_2_input{
    background-color: rgb(81, 81, 81);
    color: white;
}
.Quick{
    background-color: rgb(117, 176, 28);
    color: white;
}
@media only screen and (min-width: 768px) and (max-width: 1024px),
only screen and (min-width: 576px) and (max-width: 767px),
(max-width: 576px) {
    .section_2_main {
        display: none;
        visibility: hidden;
    }
}
/* Hero Section 2 End */
/* Hero Section 3 Start */
.Section_3_main{
    display: flex;
    flex-wrap: wrap;
    padding-top: 3%;
    padding-left: 8%;
    padding-right: 12%;
    padding-bottom: 0% ;
}
/* Hero Section 3 End */
/* Hero Section 4 Start */

.Section_4_main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;

}
.div_section_4{
    background-color: rgba(231, 255, 195, 0.79);
    border: 1px;
    padding-left: 50px; ;
    padding-right:50px;
    padding-bottom: 20px ;
    padding-top: 20px;
}
.Section_4_main_h4{
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.75em;
   color: rgb(50, 49, 49);
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media only screen and (min-width: 768px) and (max-width: 1024px),
only screen and (min-width: 576px) and (max-width: 767px),
(max-width: 576px) {
    .Section_4_main ,.Section_4_main_h4 {
        display: none;
        visibility: hidden;
    }
}
.Section_4_span{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 0.90em;
    color: rgb(70, 68, 68);
}
/* Hero Section 4 End */
/* Hero Section 5 Start */
.Section_5_main{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
 align-items: center;
 padding-top: 30px;
}
.Section_5_card{
    border: 1px ;
    border-radius: 10px;
    overflow: hidden;
}
/* Hero Section 5 End */
/* Hero Section 6 Start */
.Section_6_main{
    display: flex;
    flex-wrap: wrap;

}

.section_6_right_card{
    display: flex;
    font-size: 0.95em;
}
.section_6_right ,h5{
    display: flex;
    text-align: start;
    color: #0d6db7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

/* Hero Section 6 End */